.About {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: var(--space-00);
    margin-bottom: var(--space-20);
    /* column-width: 200px; */
    /* column-gap: var(--space-00); */
}

.about > div {
    /* break-inside: avoid; */
    /* padding-bottom: var(--space-00); */
}

.badge {
    background-color: var(--color-back);

}

.getintouch {
    text-align: center;
}

.getintouch .button {
    /* padding: var(--space-01) var(--space-00);
    border-radius: var(--space-01); */
}

/* a.button.aligned {
	position: relative;
	top: -6px;
	margin-left: var(--space-01);
} */