body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  margin : 0;
}

html {
  font-size: 12pt;
}

body {
  line-height: var(--lh);
  font-family: Roboto;
  background-color: var(--back);
  color : var(--front);
}

h1 {
  line-height: calc(var(--lh) * 3);
  font-size: 3rem;
  font-weight: bolder;
}

h2 {
  font-size: 1rem;
  line-height: var(--lh);
  margin-bottom: var(--lh);
}

.caption {
  font-size : .75rem;
}

/* Dev */
body.dev {
  position : relative;
}

body.dev * {
  box-shadow : inset 0 0 0 1px rgba(241,  72, 128, .4);
}

body.dev:before {
  content  : '';
  position : absolute;
  z-index  : 100;
  left     : 0px;
  top      : 0px;
  width    : 100%;
  height   : 100%;
  background : linear-gradient(0,
  rgba(56,219,255,.3) 2px,
  transparent 2px);
  background-size     : auto var(--lh);
  background-position : 0 1px;
  pointer-events      : none;
}
